<form action="/select_recipe" method="post">
  <div>
    <label for="key_word">key_word:</label>
    <input type="text" id="key_word" name="key_word">
  </div>
  <div>
    <label for="difficulty">difficulty:</label>
    <input id="difficulty" name="difficulty"> </input>
  </div>
  <div class="button">
    <button type="submit">Add your recipe to the cookbook</button>
  </div>
</form>
