<h1>This is a super form!</h1>
<form action="/recipes" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="description">description:</label>
    <textarea id="description" name="description"> </textarea>
  </div>
  <div>
    <label for="time">time:</label>
    <input type="text" id="time" name="prep_time">
  </div>
  <div class="button">
    <button type="submit">Add your recipe to the cookbook</button>
  </div>
</form>


<a href="/import">Import recipe from the web</a>
